.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

th {
    cursor: pointer;
}

.profile-card {
    margin-bottom: 1.5rem !important;
}

.link-button {
    cursor: pointer;
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    background-color: transparent;
    padding: 0.5em 0.75em;
    border: none;
    text-align: left;
    width: 100%;
}

.link-button:hover,
.link-button:focus {
    outline: none;
    text-decoration: none;
    background-color: #eee;
}